* {
    font-family: "Titillium Web", "RixSGo", sans-serif;
    color: #282828;
    word-break: break-all;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    height: 100vh;
    background: rgb(255, 255, 255);
}

.pipsterr {
    font-family: "Titillium Web", "RixSGo", sans-serif;
    /* margin-left: 4%; */
    text-align: center;
    margin-right: 5%;
}

.archives-info {
    text-align: center;
    font-size: 20px;
    /* margin-right: 26.3%; */
}

.archives-info p {
    min-width: 950px;
}




.archives-content {
    margin-left: 25px;
    margin-bottom: 60%;
    margin: 5%;
}















footer {
    /* position: bottom; */
    bottom: auto;
    left: auto;
    right: auto;
    background: #101010;
    height: auto;
    width: auto;
    padding: 1rem 0;
    margin-top: 3rem;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-width: 950px;
    margin: 0 auto;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 2rem 0;
    min-width: 950px;
}

.socials li {
    margin: 0 13px;
    align-items: center;
}

.socials a {
    text-decoration: none;
    color: #ffffff;
    padding: 5px;
}

.socials a i {
    font-size: 2.5rem;
    width: 28px;
    transition: color 0.5s ease;
}

.socials a:hover i {
    color: aqua;
}

.footer-bottom {
    width: 100%;
    padding: 0%;
    padding-bottom: 50px;
    text-align: center;
    margin: 0 auto;
}

.footer-bottom p {
    float: center;
    word-spacing: 2px;
    color: #c3c1c1;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    text-shadow: #fff;
    min-width: 950px;
}

/* .footer-bottom span {
    text-transform: uppercase;
} */

@media (max-width: 500px) {
    .footer-bottom p {
    float: none;
    }
}





@media screen and (max-width: 600px){

    .pipsterr {
        font-family: "Titillium Web", "RixSGo", sans-serif;
        /* margin-left: 4%; */
        text-align: center;
        margin-right: 5%;
        font-size: 40px;
    }
    
    .archives-info {
        text-align: center;
        font-size: 30px;
        /* margin-right: 26.3%; */
        font-size: 35px;    
    }
    
    .archives-info p {
        margin-top: -5%;
        min-width: 950px;
    }
    

    .archives-content {
        margin-left: 25px;
        margin-bottom: 60%;
        margin: 5%;
        font-size: 280%;
    }


    footer {
        /* position: bottom; */
        bottom: auto;
        left: auto;
        right: auto;
        background: #101010;
        height: auto;
        width: auto;
        padding: 4rem 0;
        margin-top: 25%;
    }


    .footer-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        min-width: 950px;
        margin: 0 auto;
    }
    
    .socials {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0 2rem 0;
        min-width: 950px;
    }
    
    .socials li {
        margin: 0 13px;
        align-items: center;
        margin-right: 4%;
    }
    
    .socials a {
        text-decoration: none;
        color: #ffffff;
        padding: 40px;
    }
    
    .socials a i {
        font-size: 6rem;
        width: 28px;
        transition: color 0.5s ease;
    }
    
    .socials a:hover i {
        color: aqua;
    }
    
    .footer-bottom {
        width: 100%;
        padding: 0%;
        padding-bottom: 50px;
        /* text-align: center; */
        margin: 0 auto;
    }
    
    .footer-bottom p {
        align-items: center;
        word-spacing: 2px;
        color: #c3c1c1;
        font-size: 35px;
        /* text-decoration: none; */
        text-align: center;
        text-shadow: #fff;
        min-width: 950px;
    }
}